<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <meta charset="utf-8" />
  <meta name="description" content="<%= desc %>" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="manifest" href="manifest-<%= name %>.json" />

  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML"></script>
  <link rel="preconnect" href="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: { inlineMath: [["$","$"],["\\(","\\)"]] },
        "HTML-CSS": {
          linebreaks: { automatic: true, width: "container" }
        }
      });
    </script>
    <!-- Meta Pixel Code -->
    <script>
      !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
          n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '<%= metaPixelID %>');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=<%= metaPixelID %>&ev=PageView&noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->
</head>

<body>

  <!-- DO NOT touch the following DIV -->
  <div id="q-app">
    <div class="wrap-logo">
      <img class="logo-loading" src=<%=logoPath %> style="max-width:
      320px" />
    </div>
  </div>
  <style>
    .wrap-logo {
      display: flex;
      vertical-align: middle;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
    }

    .logo-loading {
      align-self: center;
    }
  </style>
</body>

</html>